# Dependencies
/node_modules
/vendor
/venv

# Build artifacts
/build
/dist
*.o
*.out

# Log files
*.log

# Environment variables
.env*
!.env.example

# OS-specific files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Cursor files (often handled by .cursorignore, but good to have here too)
.cursor-cache/ 
.cursor/
/.cursor
.npmrc